<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642364952017-s426a78s7rrsj6b32558llifafe6ibsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642364952017-s426a78s7rrsj6b32558llifafe6ibsb</string>
	<key>API_KEY</key>
	<string>AIzaSyBM32PSE1lj8QTHcy7hAQ9kuVWQSzhlrnk</string>
	<key>GCM_SENDER_ID</key>
	<string>642364952017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.metroapp</string>
	<key>PROJECT_ID</key>
	<string>metroapp-957a0</string>
	<key>STORAGE_BUCKET</key>
	<string>metroapp-957a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642364952017:ios:81a4c5edafa6a5133fe4f0</string>
	<key>DATABASE_URL</key>
	<string>https://metroapp-957a0-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>